:root {
  --hoverGray: rgba(100, 100, 100, 0.7);
  --hoverAmber: rgba(255, 191, 0, 0.7);
  --currentPageCol: rgba(255, 143, 0, 0.7);
  --amber: rgba(255, 191, 0);
  --blackTransparentBg: rgba(0,0,0,0.85);
}

/* Screen of less than 850px width */
@media only screen and (max-width: 850px) {
  header {flex-direction: column;}
  nav ul li {
    padding: 5px;
    width: 120px;
    font-size: 18px;
  }
  .aboutMe p {
    max-width: 90vw;
  }
  .headerIcon {width: 40px;}
}

/* Config for wide mobile */
@media only screen and (max-width: 765px) {
  /* Amend VW of items */
  header {height: 20%}
  nav {height: 10%}
  main {margin-top: 15px;}
  /* Header Sizing */
  h1 {
    font-size: 25px;
    margin-top: 15px;
    min-height: 28px;
  }
  /* Nav Sizing and Layout */
  nav ul{
    display: grid;
    grid-template: repeat(2,1fr) / repeat(2,1fr);
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  nav ul li {
    width: 100%;
  }
  #homeLink {grid-area: 1 / 1 / span 1 / span 1}
  #aboutLink {grid-area: 1 / 2 / span 1 / span 1}
  #portfolioLink {grid-area: 2 / 1 / span 1 / span 1}
  #contactLink {grid-area: 2 / 2 / span 1 / span 1}
  /* MyPortfolio */
  article {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    justify-content: center;
    width: 92vw;
  }
  .cardPicHolder {
    display: none;
    
  }
  /* Contact */
  .bizCard {
    width: 80vw;
    margin: 5px auto;
  }
}

/* Config for narrow mobile */
@media only screen and (max-width: 300px) {
  /* Contact */
  #bizCardFront h3 {font-size: 20px;}
  #bizCardFront h4 {font-size: 15px;}
  #bizCardBack {
    grid-template: repeat(3,1fr) / 1fr 4fr;
  }
  .bizCardIcon {
    width: 25px;
    margin: auto;
  }
  .bizCardText{
    font-size: 14px;
    margin: auto;
  }

  /* My Portfolio */

  article {
    height: auto;
  }
}