/* This sheet contains styling only for individual project cards.  For class stylings, see style.css*/

/* Project: 'Example Project Name' */


#card1 .cardPicHolder {
  background: url('img/cards/edwardAndCo.png') center center/cover;
  filter: grayscale(50%);
}

#card2 .cardPicHolder {
  background: url('img/cards/myreadinghub.png') center center/cover;
  filter: sepia(50%) ;
}

.siteLink {
  margin: 10px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
