/* This sheet contains styling only for individual project cards.  For class stylings, see style.css*/

/* Project: 'Example Project Name' */


#card1 .cardPicHolder {
  background: url('img/cards/card1.png') center center/cover;
  filter: grayscale(50%);
}

#card2 .cardPicHolder {
  background: url('img/cards/card2.png') center center/cover;
  filter: sepia(50%) ;
}

