
:root {
  --hoverGray: rgba(100, 100, 100, 0.7);
  --hoverAmber: rgba(255, 191, 0, 0.7);
  --currentPageCol: rgba(255, 143, 0, 0.7);
  --amber: rgba(255, 191, 0);
  --blackTransparentBg: rgba(0,0,0,0.85);
}

* {
  padding: 0;
  margin: 0;
}

/* Universal */

body {
  height: 100vh;
  min-height: 650px;
  font-family: "Brygada 1918", serif;
  background: url('img/backgroundSplash.png') left/cover no-repeat;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {color: black;}

ul {list-style: none;}

ul li:hover {cursor: pointer;}

main {
  height: 77.5%;
  display: flex;
  justify-content: center;
}

/* Header */

header {
  height: 15%;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

h1 {
  font-size: 40pt;
  color: black;
  padding: 0 10px;
}

#iconHolder {display: inline;}

.headerIcon {
  width: 55px;
  padding: 20px;
}

header img:hover , h1:hover {
  background-color: var(--hoverAmber);
  border-radius: 5px;
}

/* Nav */

nav {
  width: 100vw;
  height: 7.5%;
  display: flex;
  background-color: white;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 20px;
  font-size: 20px;
  width: 200px;
  text-align: center;
}

nav ul li:hover {
  background-color: var(--hoverAmber);
  border-radius: 5px;
}

/* Home Page */

.homePage #mainTextBox {
  margin-top: 5%;
  text-align: center;
  height: 300px;
}

.homePage h2 {
  padding: 20px 0;
  font-size: 24px;
}

.homePage main li {
  padding: 8px;
  font-size: 20px;
  border-radius: 5px;
}
.homePage main li:hover {background-color: var(--hoverAmber);}

/* About Me */

.aboutMe h2 {
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

.aboutMe p {
  max-width: 550px;
  text-align: justify;
  margin-bottom: 10px;
}

/* Project Page */
 article {
   width: 500px;
   height: 250px;
   /* border: 1px black solid; */
   display: grid;
   grid-template-columns: 1fr 2fr;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   margin: 15px;
   background-color: white;
 }

  article:hover > .cardPicHolder {filter: none!important;}

 .cardPicHolder {
   grid-column: 1 / span 1;
   width: 100%;
   background: white;
 }

 article h3 {
   margin-bottom: 5px;
   text-align: center;
 }

 .cardText {padding: 10px;}

 article p {
   font-size: 11pt;
   text-align: justify;
 }

 .myPortfolio main {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: center;
 }

 /* Contact Page */
 
 #conactMain {
   display: flex;
   flex-direction: column;
 }

 .bizCard {
   width: 500px;
   height: 250px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   margin: 25px auto;
 }

 #bizCardFront {
  background-color: rgb(15, 15, 15);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
 }

 #bizCardFront h3 {font-size: 40px;}
 
 #bizCardFront h4 {font-size: 20px;}

 #bizCardBack {
   height: 250px;
   background-color: white;
   display: grid;
   align-items: center;
   grid-template: repeat(2, 1fr) / 1fr 2fr;
 }

 .bizCardIcon {
   width: 35px;
   margin: auto;
 }
 .bizCardText {
   text-align: left;
 }

  #bizCardEmail {grid-area: 1 / 1;}
  /* #bizCardPhone {grid-area: 2 / 1;} */
  #bizCardLI {grid-area: 2 / 1;}

  #bizCardEmailText {grid-area: 1 / 2;}
  /* #bizCardPhoneText {grid-area: 2 / 2;} */
  #bizCardLIText {grid-area: 2 / 2;}
